.nameDisplay {
    background-color: inherit;
    border: none;
    font-size: 20px;
    padding: 0;
}

.nameDisplay:hover {
    background-color: rgb(223, 223, 223);
}

.nameInput {
    padding: 0;
    font-size: 20px;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}
