.wrapper {
    flex: 1;
    display: flex;
    position: relative;
}

.container {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 50px;
    overflow-y: scroll;
    display: flex;
    gap: 20px;
}

.createdAt {
    color: var(--color-secondary);
}

.main {
    flex: 1;
}
