.form {
    border-top: var(--border-grey);
    padding-top: var(--space-s);
}

.every {
    padding-right: var(--space-xs);
}

.container {
    display: flex;
    align-items: center;
    padding: 0 var(--space-xs);
}

.input {
    flex: 1;
    padding: var(--space-xxs);
    line-height: var(--line-height-headers);
}

.button {
    flex: 1;
    padding: var(--space-xxs);
    line-height: var(--line-height-headers);
    cursor: pointer;
}

.save-button {
    padding: var(--space-s);
    margin-top: var(--space-s);
    border: none;
    border-top: var(--border-grey);
    cursor: pointer;
    width: 100%;
}
