.wrapper {
    flex: 1;
    display: flex;
    position: relative;
    word-break: break-word;
}

.container {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: var(--space-xxl);
    overflow-y: scroll;
    display: flex;
}

.main-top {
    padding-left: var(--space-xl);
}

.main {
    flex: 1;
}

.buttons {
    display: flex;
    align-items: center;
    gap: var(--space-xs);
}
