.container {
    cursor: pointer;
    padding: var(--space-l);
    border-radius: var(--space-xs);
    font-size: var(--font-size-l);
}

.container:hover .name {
    color: grey;
}

.editing {
    background-color: rgb(240, 250, 250);
}

.completed {
    color: rgb(184, 184, 184);
}

.completed .name {
    text-decoration: line-through;
}

.top-box {
    display: flex;
    align-items: center;
    gap: var(--space-xs);
}

.link-list {
    color: inherit;
    font-weight: bold;
}

.link-list:hover {
    color: grey;
}
