.container {
    cursor: pointer;
    padding: var(--space-l);
    border-radius: var(--space-xs);
    font-size: var(--font-size-l);
}

.container:hover .name {
    color: grey;
}

.editing {
    background-color: rgb(240, 250, 250);
}

.completed {
    color: rgb(184, 184, 184);
}

.completed .name {
    text-decoration: line-through;
}

.top-box {
    display: flex;
    align-items: center;
    gap: var(--space-xs);
}

.complete-button {
    cursor: pointer;
    -webkit-appearance: none;
    appearance: none;
    margin: 0;
    padding: var(--space-m);
    border: 1px solid rgb(112, 255, 136);
    transition: 0.1s;
}

.complete-button:hover {
    box-shadow: inset 0 0 0 4px white;
    background-color: rgb(158, 255, 174);
}

.complete-button:checked {
    box-shadow: inset 0 0 0 4px white;
    background-color: rgb(79, 255, 109);
}
.link-list {
    color: inherit;
    font-weight: bold;
}

.link-list:hover {
    color: grey;
}
