.field {
    display: block;
    width: 100%;
    border: none;
    box-shadow: var(--shadow);
    outline: none;
    padding: var(--space-xs);
    margin: var(--space-xs) 0;
    color: inherit;
}

.my_day {
    margin-left: var(--space-xs);
}

.submit {
    display: block;
    width: 100%;
    padding: var(--space-xs);
    margin-top: var(--space-xs);
    cursor: pointer;
}
