.form {
    display: flex;
    padding: var(--space-l) 0;
    gap: var(--space-xxs);
}

.input {
    flex: 1;
    background-color: inherit;
    color: inherit;
    border: none;
    outline: none;
    border-bottom: var(--border-grey);
    font-size: var(--font-size-l);
}

.submit {
    background-color: inherit;
    color: inherit;
    border: none;
    font-size: var(--font-size-xl);
    cursor: pointer;
    transition: 0.1s;
}

.submit:hover {
    color: rgb(189, 189, 189);
}

.submit:disabled {
    color: rgb(189, 189, 189);
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
