.button {
    font-size: var(--font-size-xxl);
    background-color: inherit !important;
    border: none;
    cursor: pointer;
    transition: 0.3s;
}

.button:hover {
    color: rgb(189, 189, 189);
}
