.display {
    background-color: inherit !important;
    border: none;
    font-size: var(--font-size-xl);
    text-align: left;
    color: inherit;
    font-weight: bold;
    display: block;
}

.display:hover {
    color: rgb(75, 75, 75);
}

.input {
    padding: 0;
    outline: none;
    color: inherit;
    background-color: inherit;
    font-size: var(--font-size-xl);
    font-weight: bold;
    border: none;
    width: 100%;
}
