.container {
    display: flex;
    flex-direction: column;
    margin-bottom: var(--space-s);
    border: var(--border-grey);
}

.expand-button {
    padding: var(--space-s);
    color: inherit;
    cursor: pointer;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
}

.button {
    padding: var(--space-s);
    cursor: pointer;
    border: none;
}
