.form {
    display: flex;
    width: 100%;
}

.display {
    background-color: inherit;
    border: none;
    font-size: var(--font-size-xl);
    padding: 0;
    color: inherit;
    font-weight: bold;
    cursor: pointer;
    display: block;
}

.display:hover {
    box-shadow: var(--shadow);
}

.input {
    box-shadow: var(--shadow);
    padding: 0;
    color: inherit;
    background-color: inherit;
    font-size: var(--font-size-xl);
    font-weight: bold;
    border: none;
    width: max-content;
}

.submit {
    background-color: var(--bg-color-success);
    cursor: pointer;
    font-size: var(--font-size-xl);
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
}

.submit:hover {
    background-color: var(--bg-color-success-dimmed);
}
