.container {
    margin: var(--space-m) 0 var(--space-m) var(--space-xl);
}

.buttons {
    margin-left: var(--space-xs);
    display: inline-flex;
    align-items: center;
}

.button {
    border: none;
    outline: none;
    padding: var(--space-xs);
    color: inherit;
    cursor: pointer;
    font-weight: bold;
    line-height: var(--line-height-headers);
    background-color: inherit;
}

.button:hover {
    color: rgb(182, 182, 182);
}
