.wrapper {
    flex: 0 0 400px;
    position: relative;
}

.container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    word-break: break-word;
    padding: var(--space-xxl) var(--space-m);
    overflow-y: scroll;
}

.name-box {
    display: flex;
    align-items: center;
    gap: var(--space-xs);
    padding-top: var(--space-s);
}

.complete-button {
    cursor: pointer;
    -webkit-appearance: none;
    appearance: none;
    background-color: inherit;
    margin: 0;
    padding: var(--space-m);
    border: 1px solid rgb(112, 255, 136);
    transition: 0.1s;
}

.complete-button:checked {
    box-shadow: inset 0 0 0 4px white;
    background-color: rgb(79, 255, 109);
}

.top-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: var(--space-s);
}
