.display {
    background-color: inherit !important;
    border: none;
    font-size: var(--font-size-xxxxl);
    color: inherit;
    text-align: left;
    font-weight: bold;
    line-height: var(--line-height-headers);
    display: block;
}

.display:hover {
    color: rgb(75, 75, 75);
}

.input {
    line-height: var(--line-height-headers);
    padding: 0;
    outline: none;
    color: inherit;
    background-color: inherit;
    font-size: var(--font-size-xxxxl);
    font-weight: bold;
    border: none;
    width: 100%;
}
