.display {
    background-color: inherit;
    border: none;
    font-size: var(--font-size-xxxxl);
    padding: 0;
    color: inherit;
    font-weight: bold;
    cursor: pointer;
    display: block;
}

.display:hover {
    box-shadow: var(--shadow);
}

.input {
    box-shadow: var(--shadow);
    padding: 0;
    color: inherit;
    background-color: inherit;
    font-size: var(--font-size-xxxxl);
    font-weight: bold;
    border: none;
}
