.form {
    border-top: var(--border-grey);
    padding-top: var(--space-s);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input {
    border: none;
    margin-bottom: var(--space-s);
}

.button {
    padding: var(--space-s);
    border: none;
    border-top: var(--border-grey);
    cursor: pointer;
    width: 100%;
}
