.signout {
    font-size: var(--font-size-xxl);
    background-color: inherit;
    display: inline-block;
    color: rgb(49, 49, 49);
    border: none;
    cursor: pointer;
    transition: 0.3s;
}

.signout:hover {
    color: rgb(189, 189, 189);
}
