.button {
    background-color: var(--bg-color-taupe);
    border: none;
    box-shadow: var(--shadow);
    outline: none;
    padding: var(--space-xs);
    color: inherit;
    cursor: pointer;
    font-weight: bold;
}

.button:hover {
    background-color: var(--bg-color-taupe-dimmed);
}
